
        <div class="item" >
          <div >
            <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
            <a href="" class="d-flex play-button align-items-center" data-fancybox>
            
              <div class="caption">
                <span class="meta"> {{playerInput.name}}</span>
                <h3 class="m-0">{{playerInput.nbr}}</h3>
                <h3 class="m-0">{{playerInput.position}}</h3>
              </div>
            </a>
          </div>
        </div>
  
     